body{
	background: #607D8B;
}

#timeline-container{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
	background-color: #263238;
	overflow-x: scroll;
	overflow-y: hidden;
}

#timeline{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
}
