@mixin shadow(){
	box-shadow: 0 0 10px black;
}

$resource-padding: .5em;

$light: #90A4AE;
$dark: #607D8B;
$title-bg: rgba(0, 0, 0, .5);
$blink-color: lighten($light, 10%);

//material colors
$red:			#F44336;
$pink:			#E91E63;
$purple:		#9C27B0;
$deep-purple:	#673AB7;
$indigo:		#3F51B5;
$blue:			#2196F3;
$light-blue:	#03A9F4;
$cyan:			#00BCD4;
$teal:			#009688;
$green:			#4CAF50;
$light-green:	#8BC34A;
$lime:			#CDDC39;
$yellow:		#FFEB3B;
$amber:			#FFC107;
$orange:		#FF9800;
$deep-orange:	#FF5722;

//request colors
$VERB-GET:		$green;
$VERB-HEAD:		$yellow;

$VERB-POST:		$blue;
$VERB-PUT:		$indigo;
$VERB-PATCH:	$deep-purple;
$VERB-DELETE:	$red;

$VERB-CONNECT:	$orange;
$VERB-OPTIONS:	$deep-orange;
$VERB-TRACE:	$amber;

$VERB-OTHER:	#f0f;

body{
	font-family: monospace;
	margin: 0;
	padding: 0;
	background: $light;
}
ul{
	margin: 0;
	padding: 0;
}
#lists{
	position: absolute;
	top: 0;
	bottom: 15%;
	left: 0;
	right: 0;
	overflow: auto;
}
#timeline{
	@include shadow;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
	background-color: $dark;
	overflow: hidden;
	z-index: 3;
}
.title{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 25px;
	background: $title-bg;
}
#track{
	position: absolute;
	right: 0;
	top: 25px;
	bottom: 0;

	background: url("/track_bg.svg");
	background-repeat: repeat;

	transition: width 1s;

	div{
		position: absolute;
		bottom: 0;
		background: #fff;

		transition: height .25s;
	}
}
.resource-list{
	@include shadow;
	position: absolute;
	top: 0;
	min-height: 100%;
	width: 33%;
	min-width: 200px;
	background: $dark;
	overflow: hidden;
}
#clients{
	left: 0;
}
#servers{
	right: 0;
}
@keyframes blink{
	0%{ }
	50%{ background: $blink-color; }
	100%{ }
}
.blink{
	animation: blink .25s;
}
@keyframes remove-resource{
	0%{ opacity: 1 }
	100%{ opacity: 0 }
}
.remove-resource{
	animation: remove-resource 1s;
}
.resource-list > li{
	position: relative;
	z-index: 2;

	height: 1.25em;
	margin-bottom: .25em;
	padding: .25em;

	overflow: hidden;
	white-space: nowrap;
	margin-top: $resource-padding;
	margin-bottom: $resource-padding;

	&:not(:empty){
		background: $light;
	}
	>div{
		position: relative;
		color: #fff;
		font-weight: bold;
		overflow: hidden;
	}
}
#clients > li{
	text-align: right;
	margin-right: $resource-padding;
	border-radius: 0 .25em .25em 0;
}
#servers > li{
	margin-left: $resource-padding;
	border-radius: .25em 0 0 .25em;
}
.request{
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;

	transform: translate(0, 0);
	transition: transform linear 2s, width .25s, height .25s;

	z-index: 1;

	/*border: 2px #fff solid;*/

	background: $VERB-OTHER;
}

[verb="GET"]{
	background: $VERB-GET;
}
[verb="POST"]{
	background: $VERB-POST;
}
[verb="HEAD"]{
	background: $VERB-HEAD;
}
[verb="PUT"]{
	background: $VERB-PUT;
}
[verb="DELETE"]{
	background: $VERB-DELETE;
}
[verb="TRACE"]{
	background: $VERB-TRACE;
}
[verb="CONNECT"]{
	background: $VERB-CONNECT;
}
[verb="PATCH"]{
	background: $VERB-PATCH;
}
[verb="OPTIONS"]{
	background: $VERB-OPTIONS;
}

